PORT=3000
CLIENT_ORIGIN=http://localhost:4200
DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET=change-this-to-a-long-random-string-before-going-live
PAYSTACK_SECRET_KEY=sk_test_your_paystack_test_secret_key_here
PAYSTACK_CALLBACK_URL=http://localhost:4200/order-confirmation
